{
    "title":"About - Another Developer",
    "script":["https://www.google.com/recaptcha/api.js"]
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p style="background: url(/img/meme/blush.png) 4.75em no-repeat; background-size: contain; padding: 5px 0; margin: 5px 0;">
            Hey there!</p>
            
            <p class="indent">
                You are here for a reason. May it be to stalk me like a ninja, 
            or as an employer looking to gather more information on me ... which in that instance,
            uhmmm, you may prefer this <a href="/df?p=professional_about">more professional about page</a>
            a little more. Or you're here for none of the above, and maybe just looking for a fun read!
            So, who's this chap, and how does he do?</p>
            
            <p class="indent" style="padding-top: 1.5em; margin-top: -0.5em; background: url(/img/meme/Nice_to_meet_you_too.png) 12em -0.1em no-repeat;background-size: 6.9em;">
                <img style="max-width: 32vw; max-height: 200px;" src="/img/jasper_portrait.png" align="right">
                Well, I am Jasper Creyf. I was born in a land far far away called Gent Belgium. Which my 
            family didn't stay there for very long. As we came to 'Murica! Well, actually it went a little 
            more like this: Belgium <b>&gt;</b> Netherlands <b>&gt;</b> 'Murcia! Which we repeated that 
            sequence over once more. Then we finally decided to settle down in Oregon in the year `06.</p>
            
            <p class="indent">      
                I'd like to start my story when we moved here to America for the second time. Like, who even 
            remembers much of their early childhood anyway! In these early years, we explored the outdoors 
            quite frequently. Biking to nearby parks, or driving to the mountains, the beach, and even 
            more parks. Yet, what really got more thrill amongst us all was camping. I feel as if it all began 
            because of a Toyota Sienna with a depleted battery. It was on a trip my parents had planned that 
            went all the way down to Crater Lake and back up with a few stops in-between. We would pass 
            through Bend and stop for lunch, then continue down to Crater Lake, and after having explored
            Crater Lake itself we'd spend the night at the <i>Valley of the Rogue</i> camping grounds. This 
            is where we unfortunately ran into some car problems, but during the wait for AAA to come to save 
            our stranded butts, my little brother and I had ran off and into some park rangers who were 
            responsible for running the <i>Junior Park Ranger</i> program that day. Being kids, we just HAD 
            TO bring this to our parents attention, and our journey of exploring Oregon's camping grounds 
            had begun.</p>
            
            <p class="indent">
                On the less explorative and outdoorsy end, there is technology. It also has been something 
            that's more pronounced in my life. The part of my story behind technology and I started back in
            the ending months of `08. On Black Friday of that year, my brothers and I had each bought our 
            very own laptops. Before that, we had shared a single desktop computer and been limited to using 
            it for up to an hour a day. However, it didn't take very long after we had our own laptops that our 
            father had the brilliant idea of starting on teaching us how to program. The end goal was for 
            us to be able to make our very own video game. It seemed to have been a very effective way to 
            keep our curiosity away from just plain old video games. Yet it didn't last very long until our 
            father just didn't have the time available to do this anymore, but my older brother and I went 
            on to mess around and learn to program on our own. While my younger brother on the other hand had 
            soon after caught himself his very own virus, and then just pretty much ignored his computer 
            for a year and spent his time over at his friends place playing plain ol' video games.
            </p><p>
            Four years ended up passing by, and somewhere along that time I had gotten into playing Minecraft, 
            and then eventually into using mods. Yet, I felt there still was something that I was looking 
            to be able to add into the game, but at the time no one seemed to have made what I was exactly looking for.
            What I was seeking was to be able to add ships and boats to the game. I wanted to add some 
            character to Minecraft's plain and boring oceans. To have pirates sailing across them. To make 
            an adventure! Thus I started development on this mod and dubbed it with the name
            <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/wip-mods/1441999-1-4-6-wip-shipcraft"><i>ShipCraft</i></a>.
            I also ended up joining the teams of two other mods when I was out and about answering questions 
            to problems other mod developers had. These two mods are <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1287001-1-4-7-forge-the-methyr-dimension"><i>The Méthyr Dimension</i></a>
            and <a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1275049-1-7-3-the-wolfestone-mod-v1-1-nether-update"><i>Wolfestone</i></a>.
            However, around this time I was in my early years of high school, so it was only a matter of time 
            before I would have to choose where I need and want to devote my time. It became more of a 
            challenge for this newbie to be helping and working on all three projects at the same time. 
            It was a fun adventure though, and it was also the time I learned the most about programming. 
            Each day I'd learn something new. Be it about syntax, code structure, features of the API's I 
            had to work with, to learning about making our projects cross-compatible over different dev 
            environments and not giving a damn about making our lives the slightest bit easier by just using git!        
            Sadly, around my junior year of high school, the time we wanted to or could spend on mod development 
            was becoming more scarce. So, in the end, none of the three mods were really ever fully "completed". 
            <!-- I still have the source code of all three the mods! :D -->
            </p>
            
            <p class="indent">
                Lets roll back two or three years, when I was still in my early years of high school. I had 
            just bought myself parts for a desktop computer build. As I was getting fed up with having to
            repair my laptop. I do get why the GPU was derping out ... don't look at me 
            <img style="height: 2em; margin: -1em 0;" src="/img/meme/stale.png"> ... it wasn't me
            <img style="height: 2em; margin: -1em 0;" src="/img/meme/dude_come_on.png">.  <!-- "Tasks" instead of "things"? -->
            It was time for an upgrade anyway, as I was getting into more resource intensive <i>"tasks"</i>.
            Like getting more screen real estate for <i>"better productivity"</i>, or running a 
            Minecraft Bukkit server with way to many plug-ins for my younger brother and his friends, 
            <img style="height: 1.25em; margin: -1.7em -2.9em 0em -0.5em;" src="/img/meme/Such_lies.png">
            or to rending animations in Blender, to eventually becoming a closed beta tester for 
            <a href="http://forum.worldofwarplanes.com/index.php?/user/baby-ducky-1002570417/">World of Warplanes</a>,
            and then even joining as an alpha tester for <a href="https://forum.worldofwarships.com/profile/1002570417-baby_ducky/">World of Warships</a>
            ... or was it called <a href="https://www.facebook.com/WorldOfWarships/posts/1326958170720542">World of Warsheeps</a>?
            <img style="height: 2em; margin: -1em 0;" src="/img/meme/whuuut.png">
            Jokes aside, there's something I'm much prouder of that I've done in my high school years. Which
            is when my friend Fatih and I had founded a school club that we called SST Computer Club,
            or SST-CC for short. In its first year of existence we had signed the club up for the Verizon 
            Innovative App Challenge, and had split our club into four different groups. As the guidelines 
            of the challenge restricted each submission to a maximum of seven participants. We ended up 
            having one of our four app concepts make it through state nominations and into the regional 
            nominations. However, we didn't make it into the national nomination. That one succeeding app 
            concept is called <a href="https://www.youtube.com/watch?v=HidYpx2sjaU">StudentConnect</a>.
            Having at least reached the regional nominations, our school was given $5,000 to be used towards 
            anything STEM related. We never ended up making the app though, as the incentive to do so was 
            merely nonexistent. As for most of us we cared more about being kids and having fun. Which 
            sooner or later would at least change for me. Coming into my senior year of high school, I knew
            that I would have to be on top of my game if I wanted to graduate on time. I was a credit short when it
            came to my language art credits. Yet, even knowing that, I was still procrastinating and playing
            video games. So, halfway through the school year I ended up taking the most drastic measures 
            and sold my desktop. I still slightly regret having done that.
            <img style="height: 2em; margin: -1em 0;" src="/img/meme/tears_of_pain.png"></p>
            
            <p class="indent">
                Well, now that I've graduated high school, what am I doing with my life and what do I plan 
            on doing? So far I've worked at a Subway, an Amazon sortation center, and Home Depot. None of 
            these jobs are directly related to the career path that I would actually like to be on. Which
            would be anything in the realm of computer science. The sole reason for why I even choose to
            work at these places was to better myself socially. To be less timid and introverted, and more 
            confident and outgoing around others. To honestly be able to have a good conversation with
            anyone I'm around, but I fear this is something I'm always going to have limited success on.
            While I was working at these places, my intention was to also be programming for myself and contributing
            to the open-source community. That part I feel like I've been slacking on, and I can go on and on with 
            excuses as to why. I honestly feel like I could've tackled it differently by just working 
            part-time at these companies and done part-time interning at a tech company instead. Yet I aim 
            to better myself and take the small steps I need to be taking to reach the bigger goal. As for
            now, that bigger goal is to be working at a company that allows me to be doing both software development
            & CAD, and to be actually enjoying the work I am doing!</p>
            
            <p>Thank you for reading all my jabber.</p>
            
            <label>The little things I think I need to be doing to get to the bigger thing ... thing.</label><ul>
                <li>Programming/screwing around doing my own projects & contributing to the open-source crowd.</li>
                <li>I don't know.</li>
                <!-- 
                    - Freelance
                    - Bootcamp and certificates?
                    - Study hard and get situated into some college classes (majoring in computer science)?
                -->
                <!-- Companies I might want to work for: Wargaming, Vavle, Epic Games, or an Alphabet company -->
            </ul>
            
            <!-- Baby duckling era:
                  "Once a kid, always a kid" - Anna
            
            Lets leave that piece to only be in the game
            -->
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact form:</h2>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <form action="javascript:contact();">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                        <input id="name" type="text">
                    </div>

                    <div class="col-md-6">
                        <label for="email">E-Mail:</label>
                        <input id="email" required type="text" placeholder="user@domain.ext">
                    </div>
                </div>

                <label for="message">Message:</label><br>
                <textarea id="message" required rows="15" style="width: 100%;"></textarea>
                
                <p style="text-align: center;">
                    <small>By submitting this form, you acknowledge to the contents of the
                    <a href="/df?p=privacy">Privacy Policy</a>.</small>
                </p>
                
                <div class="container reCaptcha-container">
                    <div class="g-recaptcha" data-sitekey="6LdtUwoTAAAAAH0y5J7PMszmAmfmbEt6eQCgsf-j"></div>
                    <input class="reCaptcha" type="submit" value="Submit" id="submit">
                </div>

                <label id="response" class="response"></label>
            </form>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="container"></footer>