{
    "title":"... - Another Developer",
    "script":["./js/retrieve.js"]
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <!-- Blog Posts -->
    <div id="content" class="row"></div>

    <!-- Pager -->
    <div id="pager" class="row"></div>
</div>

<!-- Footer-->
<footer class="container"></footer>