{
    "title":"<!-- /.error-code --> - Another Developer"
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><!-- /.error-code -->
                <small><!-- /.error-type --></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active"><!-- /.error-code --></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron" id="error-background">
                <h1><span class="error"><!-- /.error-code --></span>
                </h1>
                <p><!-- /.error-message --></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="container"></footer>