{
    "title":"Home - Another Developer"
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>Hia there.</p>
            
            <h3><b>TODO</b>:</h3><ul>
                <li>Home page is for featuring something. But where is the stylish plan B?</li>
                <!-- At minimum I can feature something from each section -->
                <li>Should I even have a Privacy Policy?</li>
                <br>
                <li>Implement a "Read more..." thingy</li>
                <li><b>Implement Cloud Storage functionality for GET requests</b></li>
                <li>Should I purge the blog pager and load posts on scroll(base post id on Unix time) or rather make it an option?</li>
                <li>Could also make line spacing and text size an option too</li>
                <li>Example post: fix touch zoom so that delta is based off of the starting distance, not the difference between each sample</li>
                <li>Make gallery horizontal, and have it slide along with the finger and snap into place</li>
                <br>
                <li>Fix the broken links of mods on the Minecraft Forums</li>
                <li>Maybe elaborate more on the travel / adventure stuff on the about page</li>
                <br><h4>
                <li>Anything that's being accessed in the hub should leave some sort of message behind in the logs</li>
                <li>The lock should log successful and failed attempts</li>
                <li>Add security to POST request</li>
                <li>Improve error handling and error "sending" on server side</li>
                <li>Send errors user encounter to the server</li>
                <li>Add logger to core and any functions that could be used globally</li>
                <li>Use <b>let</b> in for loops?</li></h4>
            </ul>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="container"></footer>