{
    "title":"Privacy Policy - Another Developer"
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Privacy Policy:</h2>
        </div>
        <div class="col-lg-12">
            ... which at its current state is nothing.
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="container"></footer>