{
    "title":"About - Another Developer",
    "script":["https://www.google.com/recaptcha/api.js"]
}
<!-- /.end -->
<!-- Page Contents -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <p>To whom it may concern:</p><br/>
            
            <p class="indent">
                <!--
                    - Mostly self taught (Documentations, StackOverflow/Googling in general, & YouTube)
                    - Learned: Java, Node.JS, JavaScript, HTML5, CSS, Bash, AVR C/C++
                    - Have been out in the community (admit that I could've done a lot more)
                            Ex. The Minecraft modders, PJUG, SST-CC
                            Could've done hackathons, worked on open-source projects, & went to more meetups
                    - Listen to what's new out there
                -->
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Contact form:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form action="javascript:contact();">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Name:</label>
                        <input id="name" type="text">
                    </div>

                    <div class="col-md-6">
                        <label for="email">E-Mail:</label>
                        <input id="email" required type="text" placeholder="name@domain.ext">
                    </div>
                </div>

                <label for="message">Message:</label><br>
                <textarea id="message" required rows="15" style="width: 100%;"></textarea>
                
                <p style="text-align: center;">
                    <small>By submitting this form, you acknowledge to the contents of the
                    <a href="/df?p=privacy">Privacy Policy</a>.</small>
                </p>
                
                <div class="container reCaptcha-container">
                    <div class="g-recaptcha" data-sitekey="6LdtUwoTAAAAAH0y5J7PMszmAmfmbEt6eQCgsf-j"></div>
                    <input class="reCaptcha" type="submit" value="Submit" id="submit">
                </div>

                <label id="response" class="response"></label>
            </form>
        </div>
    </div>
    <!-- /.row -->
</div>

<!-- Footer-->
<footer class="container"></footer>