/* Global Styles */

html, body {
    /*height: -webkit-fill-available; /* Mobile ... should use JS, but it's an irrelevant issue for now */
    min-height: 100vh;
}

body {
    position: relative;
    padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

p {
    line-height: 1.75em;
}

p.indent { text-indent: 2.5em; }
i.indent { margin-left: 2.5em; }

small.small {
    font-size: xx-small;
}

label.response {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

img.navbar-search {
    width: 50px;
    height: 50px;
    padding: 14px;
    -webkit-filter: grayscale;
    -webkit-filter: brightness(69%); 
    
    transition: all 0.5s ease-in-out;
}
img.navbar-search:hover {
    -webkit-filter: brightness(100%);
}
input.navbar-search {
    width: 0px;
    padding: 5px;
    margin-right: 0;
    margin-bottom: auto;
    border: 1.25px solid #696969;
    border-radius: 4px;
    background: #bbb;
    color: #000;
    opacity: 0;
    
    transition: all 1s ease-in-out;
}
div.navbar-search {
    position: relative;
    z-index: 6969;
    display: flex;
    width: 135px;
    padding-left: 60px;
    margin-top: -50px;
    
    transition: all 1s ease-in-out;
}

.navbar-collapse {
    overflow-x: hidden;
}

input, textarea {
    width: 100%;
    margin: auto;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #aaa;
    border-radius: 3px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.whitespace {
    margin: 2.5vw;
}

.icon {
    width: 40px;
    height: 40px;
    padding: 3px;
}

.flow-horizontal {
    display: flex;
}

#page-content {
    padding-bottom: 100px;
}

/* Posty thingy for scrolling through media content */

.post-media::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.post-media {
    position: relative;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

.media-element {
    width: 100%;
    height: 100%;
}

.gallery-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 150px;
    height: 36px;
    margin: 0 -75px 0 -75px;
    z-index: 69;
    display: flex;
}

.gallery-index {
    margin: auto;
    padding: 0 0.5em;
    color: white;
    line-height: 1em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.075);
    
    -webkit-box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

.control-left {
    width: 20px;
    height: 20px;
    margin: 8px;
    background: url(/img/arrow-h.png) no-repeat right;
    background-size: contain;
    transition: all 0.2s ease-in-out;
}
.control-left:hover { 
    -webkit-filter: brightness(69%); 
}

.control-right {
    width: 20px;
    height: 20px;
    margin: 8px;
    background: url(/img/arrow-h.png) no-repeat right;
    background-size: contain;
    transition: all 0.2s ease-in-out;
    transform: scaleX(-1);
}
.control-right:hover {
    -webkit-filter: brightness(69%); 
}

/* Repositry Content Styling */

table {
    width: 100%; /*FIXME: Full width looks great on mobile, but not so much on larger and wider screens */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fafafa;
}

tr:hover {
    background-color: #fdfdfd;
}

td {
    padding: 5px;
}

.data-div {
    width: 100%;
    max-width: 40em; /*FIXME: Use responsive CSS*/
    float: left;
    margin: 0.5em 0;
}

.repo-icon {
    text-indent: 1.5em;
    padding-left: 8px;
}

/*Make the folder icon look more like it has something in it and more vibrant*/
.repo-icon-dir { background: url(http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/folder-icon.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-dir:hover {}

.repo-icon-file-avi { background: url(/img/browser/files/avi.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-css { background: url(/img/browser/files/css.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-csv { background: url(/img/browser/files/csv.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-dbf { background: url(/img/browser/files/dbf.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-doc { background: url(/img/browser/files/doc.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-html { background: url(/img/browser/files/html.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-iso { background: url(/img/browser/files/iso.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-java { background: url(/img/browser/files/java.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-jpg { background: url(/img/browser/files/jpg.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-js { background: url(/img/browser/files/js.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-json { background: url(/img/browser/files/json.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-md { background: url(/img/browser/files/md.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-mp3 { background: url(/img/browser/files/mp3.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-mp4 { background: url(/img/browser/files/mp4.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-mtl { background: url(/img/browser/files/mtl.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-obj { background: url(/img/browser/files/obj.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-pdf { background: url(/img/browser/files/pdf.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-png { background: url(/img/browser/files/png.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-ppt { background: url(/img/browser/files/ppt.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-rtf { background: url(/img/browser/files/rtf.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-svg { background: url(/img/browser/files/svg.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-txt { background: url(/img/browser/files/txt.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-xcf { background: url(/img/browser/files/xcf.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-xls { background: url(/img/browser/files/xls.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-xml { background: url(/img/browser/files/xml.png) 5px center no-repeat; background-size: 1.4em; }
.repo-icon-file-zip { background: url(/img/browser/files/zip.png) 5px center no-repeat; background-size: 1.4em; }

.repo-icon-symlink {/* TODO: Make icon for symlink */}
.repo-icon-submodule {/* TODO: Make icon for submodule */}
.repo-icon-unkown {/* TODO: Make icon for unkown */}

/* Error Page */

.error { font-size: 100px; }

/* Blending in with reCaptcha */

.reCaptcha { 
    background: #f9f9f9; border: 1px solid #d3d3d3; border-radius: 3px; color: #000;
    
    box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.08);
    -webkit-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.08);
    -moz-box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.08);
}
input.reCaptcha { 
    width: 69px;
    height: 69px;
    margin: 3px 3px 3px -5px;
    background: url(/img/submit.png) no-repeat center #f9f9f9;
    font: 0px none;
    cursor: pointer; 
}
input.reCaptcha:hover { opacity: 0.8; }
input.reCaptcha:active { opacity: 0.8; background: #f1f1f1; }

.g-recaptcha { width: 304px; height: 78px; position: relative; z-index: 10; }
.reCaptcha-container { display: flex; max-width: 397px; }

/* Responsive Styles */

@media(max-width: 767px) {
    header.carousel .carousel {
        height: 50vh;
    }
    
    img.navbar-search {
        float: right;
        margin-right: -52px;
        -webkit-filter: grayscale;
        -webkit-filter: brightness(69%); 
    }
    
    img.navbar-search:hover {
        -webkit-filter: brightness(96%); 
    }
    
    input.navbar-search {
        opacity: 1;
        width: 100%;
    }
    
    div.navbar-search {
        width: 100%;
        padding-right: 47px;
        padding-left: 0;
        margin-top: -10px;
    }
    
    .row {
        margin: 0 -5px;
    }
    
    .reCaptcha-container {
        display: inherit;
    }
    
    input.reCaptcha {
        width: 200px;
        height: 42px;
        background: #4285f4;
        font: bold 15px arial, sans-serif;
        color: white;
        position: relative;
        margin: -5px 0 0 -100px;
        left: 50%;
    }
    
    .g-recaptcha {
        margin: 0 0 0 -152px;
        left: 50%;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        margin-right: 60px;
    }
}

@media (min-width: 970px) {
    div.navbar-search {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .navbar-left {
        margin-right: 398px;
    }
}

@media (min-width: 1170px) {
    div.navbar-search {
        width: 410px;
    }
}

@media (min-width: 1200px) {
    .navbar-left {
        margin-right: 598px;
    }
}